.app-layout {
  display: flex;
  height: calc(100vh - 100px); /* Assuming header is 60px */
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 60px 40px;
}

.editor-panel {
  width: 60%;
  padding: 1rem;
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
}

.output-panel {
  width: 40%;
  padding: 4px 8px;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
}

.output-viewer {
  background: transparent;
  border: 1px solid var(--border-color);
  padding: 8px;
  border-radius: 4px;
  height: 100%;
  overflow: auto;
}

.empty-state {
  padding: 2rem;
  font-size: 1.2rem;
  color: var(--text-color);
}

.output-btn {
  margin: 8px 0;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--active-bg);
  color: var(--active-color);
}

.time-keeper {
  background-color: transparent;
  border: 1px solid var(--active-bg);
}

.output-toolbar-container {
  display: inline-flex;
  width: 100%;
  color: var(--text-color);
  justify-content: space-between;
  align-items: center;
}

.toolbar-actions {
  display: inherit;
  gap: 4px;
}